
.footerLink{
  display: flex !important;

}
@media screen and (max-width: 480px){
  .container{
    flex-direction: column !important;
    padding: 20px 10px !important;
  }
  .container > div{ 
    margin-bottom: 20px !important;
  }
  .qr{
    align-items: flex-start !important;
  }
  
}