html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.f1{
  background: url('/home/bgf1.png') no-repeat center center;
  background-size: cover;
}

.f2{
  background: url('/home/bgf2.png') no-repeat center center;
  background-size: cover;
}

.f3{
  background: url('/home/bgf3.png') no-repeat center center;
  background-size: cover;
}

.f4{
  background: url('/home/bgf4.png') no-repeat center center;
  background-size: cover;
}