
.f1{
  background: url('/static/home/bgf1.png') no-repeat center center;
  background-size: cover;
}

.f2{
  background: url('/static/home/bgf2.png') no-repeat center center;
  background-size: cover;
}

.f3{
  background: url('/static/home/bgf3.png') no-repeat center center;
  background-size: cover;
}

.f4{
  background: url('/static/home/bgf4.png') no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 480px){
  .banner{
    height: 140px !important;
  }
  .f1, .f2, .f3, .f4{
    height: auto !important;
    padding-top: 20px !important;
    padding-bottom: 60px !important;
  }
  .f1 > div:first-child{
    margin-left: 0px !important;
    padding-left: 20px !important;
  }
  .f1 > div:first-child > div:first-child{ 
    width: 119px !important;
    height: 40px !important;
  }
  .f2 > div:first-child{
    margin-left: 0px !important;
    padding-left: 20px !important;
  }
  .f2 > div:first-child > div:first-child{ 
    width: 300px !important;
    height: 40px !important;
  }
  .f3 > div:first-child{
    margin-left: 0px !important;
    padding-left: 20px !important;
  }
  .f3Body{
    margin-top: 20px !important;
    padding: 20px !important;
  }
  .f3Body > div:first-child{
    width: 100% !important;
  }
  .f3Body > div:last-child{
    display: none !important;
  }
  .f3 > div:first-child > div:first-child{ 
    width: 109px !important;
    height: 40px !important;
  }

  .f4 > div:first-child{
    margin-left: 0px !important;
    padding-left: 20px !important;
  }
  .f4 > div:first-child > div:first-child{ 
    width: 159px !important;
    height: 40px !important;
  }
  .f4Card{
    margin: 10px 0 !important;
  }
  .f4Card > div{
    width: 100% !important;
    height: 100px !important;
  }
  
}