

.b1{
  background: url('/product1/b1.png') no-repeat center center;
  background-size: cover;
}

.b2{
  background: url('/product1/b2.png') no-repeat center center;
  background-size: cover;
}

.b3{
  background: url('/product1/b3.png') no-repeat center center;
  background-size: cover;
}

.b4{
  background: url('/product1/b4.png') no-repeat center center;
  background-size: cover;
}



.f1{
  background: url('/product1/f1.png') no-repeat center center;
  background-size: cover;
}

.f2{
  background: url('/product1/f2.png') no-repeat center center;
  background-size: cover;
}

.f3{
  background: url('/product1/f3.png') no-repeat center center;
  background-size: cover;
}

.f4{
  background: url('/product1/f4.png') no-repeat center center;
  background-size: cover;
}

