

.b1{
  background: url('/product2/b1.png') no-repeat center center;
  background-size: cover;
}

.b2{
  background: url('/product2/b2.png') no-repeat center center;
  background-size: cover;
}

.b3{
  background: url('/product2/b3.png') no-repeat center center;
  background-size: cover;
}

.b4{
  background: url('/product2/b4.png') no-repeat center center;
  background-size: cover;
}



.f1{
  background: url('/product2/f1.png') no-repeat center center;
  background-size: cover;
}

.f2{
  background: url('/product2/f2.png') no-repeat center center;
  background-size: cover;
}

.f3{
  background: url('/product2/f3.png') no-repeat center center;
  background-size: cover;
}

.f4{
  background: url('/product2/f4.png') no-repeat center center;
  background-size: cover;
}



@media screen and (max-width: 480px){
  .b1, .b2, .b3, .b4{
    height: auto !important;
    padding: 0 20px !important;
  }
  .column{
    flex-direction: column !important;
  }
  .row{
    flex-direction: row !important;
    align-items: flex-start !important;
    margin-right: 0 !important;
  }
  .label{
    margin-top: 0 !important;
    width: auto !important;
  }
  .row > div:first-of-type{
    flex-shrink: 0;
    width: 30px !important;
    /* height: 30px !important; */
  }
  .label:last-child{
    margin-left: 20px !important;
  }
  .card{
    width: 100% !important;
    margin-right: 0 !important;
  }
}