

.b1{
  background: url('/product1/b1.png') no-repeat center center;
  background-size: cover;
}

.b2{
  background: url('/product1/b2.png') no-repeat center center;
  background-size: cover;
}

.b3{
  background: url('/product1/b3.png') no-repeat center center;
  background-size: cover;
}

.b4{
  background: url('/product1/b4.png') no-repeat center center;
  background-size: cover;
}



.f1{
  background: url('/product1/f1.png') no-repeat center center;
  background-size: cover;
}

.f2{
  background: url('/product1/f2.png') no-repeat center center;
  background-size: cover;
}

.f3{
  background: url('/product1/f3.png') no-repeat center center;
  background-size: cover;
}

.f4{
  background: url('/product1/f4.png') no-repeat center center;
  background-size: cover;
}


@media screen and (max-width: 480px){
  .b1, .b2, .b3, .b4{
    height: auto !important;
    padding: 0 20px !important;
  }
  .banner{
    height: 140px !important;
  }
  .bannerLeft{
    padding: 0 20px !important;
  }
  .container{
    padding: 20px 20px !important;
  }
  .img{
    display: none !important;
  }
  .item{
    margin-left: 20px !important;
  }
  .card{
    flex-direction: column !important;
    height: auto !important;
    flex-basis: 100% !important;
  }
  .card > div{
    margin-top: 10px !important;
  }
}